#table
  %span= link_to('New Albums', new_album_path, :class => 'button radius success tiny') if is_admin
  %br
  %br
  %table
    %th Album Name
    %th Album Art
    %th Song Count
    -if is_admin
      %th Edit Album
      %th Delete Album
    - @albums.each do |album|
      %tr
        %td= link_to(album.name, album_path(album))
        %td= image_tag(album.image)
        %td= album.songs.count
        -if is_admin
          %td= link_to('Edit', edit_album_path(album), :class => 'button radius standard tiny')
          %td= link_to('Delete', album, :method => :delete, :class => 'button radius alert tiny')
