<ul>
  <li><h1><%= link_to(@book.title, @book) %></h1></li>
  <li><%= image_tag(@book.image) %></li>
  <li>Chef: <%= @book.chef %></li>
  <li>Cuisine: <%= @book.cuisine %></li>
</ul>
<br>
<br>
<button class="btn btn-warning" type="button"><%= link_to 'edit', edit_book_path(@book) %></button>
<%= link_to 'delete', @book, :class => 'btn btn-danger', :method => :delete, :confirm => 'Are you sure you want to DELETE this BOOK?' %>




<br>

<% @book.recipes.each do |recipe| %>
  <%= recipe.name %>
  <%= image_tag(recipe.image) %>


<% end %>