<div class="show"<br>
<ul>
  <h2><%= @artist.name %></h2><br>
  <%= image_tag(@artist.image) %>
  <li>Nationality:&nbsp&nbsp<%= @artist.nationality %></li>
  <li>Date of birth:&nbsp&nbsp<%= @artist.dob %></li>
  <li>Time Period:&nbsp&nbsp<%= @artist.period %></li>
</ul>

<% @artist.paintings.each do |painting| %>
<ul>
  <h2><%= painting.title %></h2><br>
  <div id='painting'><%= image_tag(painting.image) %></div>
  <li>Year:&nbsp&nbsp<%= painting.year %></li>
  <li>Medium:&nbsp&nbsp<%= painting.medium %></li>
  <li>Style:&nbsp&nbsp<%= painting.style %></li>
</ul>
<% end %>

<%= link_to 'Delete', @artist, :method => :delete, :confirm => 'Are you sure you want to delete this artist?' %>
<%= link_to 'Edit', edit_artist_path(@artist) %>
</div>

