<ul>
  <br>
  <li><%= @author.name %></li>
  <li><%= image_tag(@author.image) %></li>
  <li>DOB:&nbsp&nbsp<%= @author.dob.strftime('%B %d, %Y') %></li>
  <li>Birthplace:&nbsp&nbsp<%= @author.birthplace %></li>
  <li>Genre:&nbsp&nbsp<%= @author.genre %></li>
  <br>
  <%= link_to 'edit', edit_author_path(@author) %>
  <%= link_to 'delete', @author, :method => :delete, :confirm => 'Are you sure you want to DELETE this AUTHOR?' %>
</ul>
<br>
<% @author.books.each do |book| %>
<ul>
  <li><%= image_tag(book.image) %></li>
  <li>Title:&nbsp&nbsp<%= link_to book.title, book %></li>
  <li>ISBN:&nbsp&nbsp<%= book.isbn %></li>
</ul>
<% end %>
